/*        HTML ELEMENTS!!!!   */

html{
  font size: 92%;
}

body {
  padding: 0;
  margin: auto;
  font-family: 'Raleway', sans-serif;
  background-image: url(back.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

header {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  align-items: center;
}

header h1 {
  font-family: 'Balsamiq Sans', cursive;
  font-size: 3.5rem;
  align-self: center;
  grid-column: 2/3;
  color: #ffe0b5;
}


header div {
  align-self: center;
  grid-column: 3/4;
}

header h3 {
  padding-left: 1rem;
}

footer{
  margin: auto;
  max-width: 1300px;
  text-align: center;
}

/*   USER-DEFINED CLASSES   */

#dice-check {
  border: .125rem solid cadetblue;
  border-radius: 2rem;
  padding: 0.4rem;
  margin-left: 1.25rem;
}

.container {
  display: flex;
  max-width: 1300px;
  margin: auto;
  justify-content: center;
}

.p1 {
  text-align: center;
  align-self: flex-start;
  padding: 0 2.25rem 1.25rem 2.25rem;
  border-radius: .75rem;
  background: linear-gradient(120deg, rgb(250,160,160) 0, rgb(250,100,100));
  box-shadow: .25rem .25rem .25rem rgba(0, 0, 0, 0.5);

}

.icon{
  background-color: white;
  border-radius: 1.5625rem;
  height: 1.5625rem;
  padding: .4375rem;
  text-align: center;
  display: flex;
  justify-content: center;
  box-shadow: inset 0.18rem 0.18rem 0.18rem rgba(0, 0, 0, 0.5);
}

.right{
  display: grid;
  grid-template-rows: repeat(3,1fr);
  width: 13rem;
}

.p2 {
  align-self: flex-end;
  text-align: center;
  padding: 0 2.25rem 1.25rem 2.25rem;
  border-radius: .75rem;
  background: linear-gradient(120deg, rgb(160,160,250) 0, rgb(100, 100, 250));
  box-shadow: .25rem .25rem .25rem  rgba(0, 0, 0, 0.5);
  grid-row:3/4;

}

.manual-dice{
  grid-row:2/3;
}

.ludo-grid {
  display: grid;
  width: 37.5rem;
}

.top {
  
  width: 30rem;
  height: 3.75rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin-left: 3.625rem;
  
}

.bottom {
  
  width: 30rem;
  height: 3.75rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin-left: 3.625rem;
  
}

.middle {
  display: flex;
  justify-content: space-between;
  width: 30.25rem;
  margin: 0 3.625rem;
}

.center{
  width: 57%;
}

.box{
  padding: .125rem;
  box-sizing: border-box;
  box-shadow:  .18rem .18rem .18rem rgba(0, 0, 0, 0.5);
  border-radius: 1.25rem;
  background-color: azure;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  flex-direction: column;
  justify-content: space-evenly;
  
}



.box-2 {
  margin-right: .25rem;
  height: 25rem;
  width: 3.75rem;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.windiv{
  background: linear-gradient(120deg, rgb(213, 56, 56) 0, rgb(239, 162, 138) 40%, 
  rgb(164, 164, 229) 60%, rgb(107, 84, 194) 80%);
  padding: 1.25rem .625rem;
  width: 100%;
  text-align: center;
  border-radius: 1rem;
  box-shadow: .25rem .25rem .25rem rgba(0, 0, 0, 0.5);
  box-sizing: border-box;

}

.win-box{
  width: 75%;
  background-color: white;
  padding: .44rem 0;
  margin: 1.69rem auto 5px auto;
  border-radius: 1.25rem;
  box-shadow: inset .18rem .18rem .18rem rgba(0, 0, 0, 0.5);
  height: 1.44rem;
}

#left {
  width: 3.625rem;
}

.dice-box {
  border: .125rem solid lightgray gray;
  text-align: center;
  padding: .625rem;
  border-radius: .625rem;
  margin: 0 auto;
}

.dice-box button {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
}

.top div {
  height: 3.75rem;
  border-right: .125rem solid lightgray;
  display: grid;
}

.bottom div {
  height: 3.75rem;
  display: grid;
  border-right: .125rem solid lightgray;
}

.box-2 div {
  width: 3.75rem;
  display: grid;
  border-top: .125rem solid lightgray;
}

#a1{
  background-color: rgb(250,110,110);
}

#a28{
  background-color: rgb(250,160,160);
}

#a15{
  background-color: rgb(106,106,250);
}

#a14{
  background-color: rgb(160,160,250);
}

#a8,
#a15 {
  border-right: 0;
}

#a9,
#a28 {
  border-top: 0;
}

.fas {
  padding-top: 0.3rem;
  font-size: 4rem;
}
.fa-male {
  padding-left: 0.5rem;
  padding-top: 0;
  font-size: 1.7rem;
}

.i1 {
  color: rgb(255, 123, 123);
  margin: 0;
  padding: 0;
  
}

.i2 {
  color: rgb(14, 14, 217);
  margin: 0;
  padding: 0;

}

.f2{
  padding-left: .625rem;
  padding-right: .313rem;
  color: rgb(69, 54, 221);
}

.f1{
  padding-left: .625rem;
  padding-right: .313rem;
  color: rgb(204, 48, 48);
}

.fa-home {
  padding-top: 0;
  padding-left: 0.125rem;
  font-size: 1rem;
  position: absolute;
  margin: 0 0 0 .313rem;
  
}

.fa-flag {
  padding-top: 0;
  padding-left: 0.125rem;
  font-size: 1rem;
  position: absolute;
  margin: 0px 0 0 .3125rem;
  
}

.home1{
  transform: translate(-1.875rem, -0.875rem);
}


.home2{
  transform: translate(3.75rem, 1.375rem);
}

.dice{
  width: 5rem;
  margin: auto;
  padding-top: 1rem;
}

.counter{
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(190, 190, 190);
  margin: 0.5rem;
  text-align: center;
  font-size: 1.7rem;
  color: rgb(190, 190, 190);
}

.die-btn{
  padding: .3rem .7rem;
  font-size: 1rem;
  border-radius: .4rem;
  border: 0;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, rgb(255, 224, 181) 0, rgb(255, 224, 174) 40%, 
  rgb(255, 224, 155) 60%, rgb(255, 224, 130) 80%);
  text-decoration: none;

}

.die-btn:hover{
  filter: brightness(1.1);

}

.again-btn{
  padding: .3rem .7rem;
  margin-top: 1rem;
  font-size: 1rem;
  border-radius: .4rem;
  border: 0;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, rgb(255, 224, 181) 0, rgb(255, 224, 174) 40%,
   rgb(255, 224, 155) 60%, rgb(255, 224, 130) 80%);
}

.again-btn:hover{
  filter: brightness(1.1);

}










@media (max-width: 1000px) {

html{
  font-size: 70%;
}
}

@media (max-width: 700px) {

  html{
    font-size: 50%;
  }
}

@media (max-width: 500px) {

  html{
    font-size: 35%;
  }
}
